.img{
    background-image: url(../img/pet-banner1_1512x.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    color: #333;
  }
  
  .rating {
    font-size: 30px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .star {
    color: #ccc;
  }
  
  .star:hover {
    color: gold;
  }